html, body {
    margin: 0;
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main > section {
    position: relative;
    padding-top: 18px;
}

#preview-section {
    flex: 0 0 auto;
    height: 200px;
    width: 100%;
}

#timeline-section {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#timeline-controls {
    flex: 0 0 auto;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #ccc;
}

#timeline-controls > button {
    flex: 0 0 auto;
}

progress {
    flex: 0 0 auto;
    width: 100px;
    height: 4px;
    margin-right: 10px;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border: 1px solid #ccc;
}

progress[value]::-webkit-progress-value {
    background-color: red;
}

#timeline-container {
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: scroll;
}

#program-section {
    flex: 0 0 auto;
    width: 100%;
    height: 150px;
    display: flex;
    align-content: stretch;
}

#canvas {
    position: relative;
    width: 600px;
    display: block;
    margin: 0 auto;
}

.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    display: block;
    font-size: 10px;
    padding: 4px 2%;
}

#timeline {
    display: flex;
    flex-wrap: wrap;
}

.measure {
    flex: 1 1 auto;
    height: 50px;
    width: 200px;
    position: relative;
    margin: 15px 5px;
    background-color: #f0f0f0;
    border-left: 10px solid #f00;
}

.measure::before {
    position: absolute;
    font-size: 12px;
    color: #666;
    top: -15px;
    left: -8px;
    bottom: 0;
    content: attr(data-measure-number);
}

.note {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #000;
    width: 4px;
    cursor: pointer;
}

.note:hover {
    background-color: yellow;
}

.note.active {
    background-color: green;
}

#program-list {
    flex: 1 0 auto;
    position: relative;
}

#program-params {
    flex: 2 0 auto;
    position: relative;
    background: #fafafa;
    padding: 15px;
}

#program-params label {
    margin-left: 10px;
    padding-right: 4px;
}

.program-item {
    display: block;
    font-size: 10px;
    padding: 4px 10px;
    border-bottom: 1px solid #fafafa;
    cursor: pointer;
}

.program-item:hover {
    background: rgba(255,165,0,0.5);
}

.program-item.active {
    background: #fafafa;
}

#current-position {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #FF0000;
    width: 2px;
}
