html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main > section {
    position: relative;
    padding-top: 18px;
}

canvas {
    background-color: black;
}

#preview-section {
    flex: 0 0 auto;
    width: 100%;
}

#timeline-section {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#timeline-controls {
    flex: 0 0 auto;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #ccc;
}

#timeline-controls > div,
#timeline-controls > button {
    flex: 0 0 auto;
    font-size: 10px;
    margin: 0 4px;
}

progress {
    flex: 0 0 auto;
    width: 100px;
    height: 4px;
    margin-right: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border: 1px solid #ccc;
}

progress[value]::-webkit-progress-value {
    background-color: red;
}

#timeline-container {
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: scroll;
}

#program-section {
    flex: 0 0 auto;
    width: 100%;
    height: 150px;
    display: flex;
    align-content: stretch;
}

#canvas {
    position: relative;
    height: 230px;
    display: block;
    margin: 0 auto;
}

.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    display: block;
    font-size: 10px;
    padding: 4px 2%;
}

#timeline {
    display: flex;
    flex-wrap: wrap;
}

.measure {
    flex: 1 1 auto;
    height: 50px;
    width: 200px;
    position: relative;
    margin: 15px 5px;
    background-color: #f0f0f0;
    border-left: 10px solid #f00;
}

.measure.selected {
    border-left: 10px solid green;
}

.measure::before {
    position: absolute;
    font-size: 12px;
    color: #666;
    top: -15px;
    left: -8px;
    bottom: 0;
    content: attr(data-measure-number);
}

.note {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    width: 4px;
    cursor: pointer;
}

.note:hover {
    background-color: yellow;
}

.note.not-empty {
    background-color: #000;
}

.note.active {
    background-color: green;
}

#program-list {
    flex: 1 0 auto;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}

#program-params {
    flex: 2 0 auto;
    position: relative;
    background: #fafafa;
    max-width: 50%;
    padding: 10px;
    display: flex;
    overflow-y: scroll;
}

.program-param {
    flex: 1 1 auto;
    margin: 4px;
}

#program-preview {
    flex: 0 0 auto;
    width: 200px;
}

.program-item {
    display: flex;
    font-size: 10px;
    padding: 4px 10px;
    border-bottom: 1px solid #fafafa;
    cursor: pointer;
    position: relative;
}

.program-item:hover {
    background: rgba(255,165,0,0.5);
}

.program-item.active {
    background: #fafafa;
}

.program-item select {
    flex: 3 1 auto;
    max-width: 50%;
}

.program-item .close {
    flex: 0 1 auto;
    width: 25px;
}

#current-position {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #FF0000;
    width: 2px;
}

.params-list {
    flex: 1 0 50%;
}

.column-container {
    flex: 1 0 50%;
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 0 1 24%;
    height: 31px;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.4);
}

.column.active {
    background-color: rgba(255,255,255,1);
}

/****************** close ******************/

.close {
  position: relative;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 10px;
  top: 1px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
