html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main > section:not(:first-child) {
    border-top: 3px solid #666;
}

section {
    background: #fafafa;
}

canvas {
    background-color: black;
}

#top-section {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    height: 230px;
    overflow: hidden;
}

#output {
    flex: 0 0 auto;
}

#compositions {
    flex: 1 1 25%;
    background: #fafafa;
}

#clipboard {
    flex: 1 1 25%;
    overflow-y: scroll;
    background: #fafafa;
}

#timeline-section {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#timeline-controls {
    flex: 0 0 auto;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #666;
}

#timeline-controls > div,
#timeline-controls > button {
    flex: 0 0 auto;
    font-size: 10px;
    margin: 0 4px;
}

progress {
    flex: 0 0 auto;
    width: 100px;
    height: 4px;
    margin-right: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border: 1px solid #ccc;
}

progress[value]::-webkit-progress-value {
    background-color: red;
}

#timeline-container {
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: scroll;
}

#program-section {
    flex: 0 0 auto;
    width: 100%;
    height: 150px;
    display: flex;
    align-content: stretch;
    border-top: 3px solid #666;
}

#canvas {
    position: relative;
    height: 230px;
    display: block;
    margin: 0 auto;
}

#timeline {
    background: white;
    display: flex;
    flex-wrap: wrap;
}

.measure {
    flex: 1 1 auto;
    height: 50px;
    width: 200px;
    position: relative;
    margin: 18px 5px;
    background-color: #f0f0f0;
    border: 1px solid #fafafa;
    background-size: 12.5% 8%;
    background-image: radial-gradient(circle, #ddd 1px, rgba(0, 0, 0, 0) 1px);
    background-position: center;
}

.measure.selected {
    border: 1px solid green;
}

.measure:before {
    position: absolute;
    font-size: 12px;
    color: #CCC;
    top: -15px;
    left: 0;
    bottom: 0;
    content: attr(data-measure-number);
}

.note {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    width: 4px;
    cursor: pointer;
}

.note:hover {
    background-color: yellow;
}

.note.not-empty {
    background-color: #000;
}

.note.active {
    background-color: green;
}

.note.active:before {
    position: absolute;
    font-size: 12px;
    color: green;
    bottom: -18px;
    left: 0;
    content: attr(data-tick);
}

#program-list {
    flex: 1 0 auto;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 1px solid #666;
    padding: 1%;
}

#program-params {
    flex: 2 0 auto;
    position: relative;
    background: #fafafa;
    display: flex;
    overflow: hidden;
}

.params-list {
    flex: 1 0 50%;
    overflow-y: scroll;
}

.params-list > select {
    display: block;
    margin: 12px;
    width: 125px;
}

.params-list > div {
    padding: 12px 15px;
}

div.program-param {
    flex: 1 1 auto;
    border-top: 1px solid #f0f0f0;
    padding: 25px 15px 12px;
    position: relative;
}

.program-param:before {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    content: attr(data-name);
}

.param-input {
    display: flex
}

.param-input label {
    flex: 0 0 15%;
}

.param-input input[type=range] {
    flex: 0 0 50%;
    margin: 0 15px;
}

.param-input input:not([type]) {
    flex: 0 0 auto;
    width: 40px;
}

label {
    margin-right: 5px;
    font-size: 12px;
}

#program-preview {
    flex: 0 0 auto;
    width: 20px;
}

.program-item {
    display: flex;
    font-size: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(150,150,150,0.1);
    cursor: pointer;
    position: relative;
}

.program-item:hover {
    background: rgba(255,165,0,0.5);
}

.program-item.selected,
.program-item.active {
    background: rgba(60,60,60,0.1);
}

.program-item select {
    flex: 3 1 auto;
    max-width: 50%;
}

.program-item .close {
    flex: 0 1 auto;
    width: 25px;
}

#current-position {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #FF0000;
    width: 2px;
}

.column-params {
    flex: 1 0 calc(42% - 2px);
    padding: 4%;
    border-right: 1px solid #f0f0f0;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    width: 144px
}

.column {
    flex: 0 1 34px;
    height: 15px;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.4);
}

.column.active {
    background-color: rgba(255,255,255,1);
}

/****************** close ******************/

.close {
  position: relative;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 10px;
  top: 1px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #666;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
